@charset "UTF-8";
@import url("../main.css");

/* brand & typography styles */
body {
    color: #dadada;
    background-color: #050000;
}

#content {
    background-color: #050000;
}

/* set background images */
#hero { background-image: url("bg.jpg"); }
.layer-mid { background-image: url("mid.png"); }
.layer-left { background-image: url("left.png"); }
.layer-right { background-image: url("right.png"); }
