@charset "UTF-8";
@import url("../main.css");

/* set background images */
#hero { background-image: url("bg.jpg"); }
.layer-brides { background-image: url("brides.png"); }
.layer-stairs-1 { background-image: url("stairs-1.png"); }
.layer-stairs-2 { background-image: url("stairs-2.png"); }
.layer-stairs-3 { background-image: url("stairs-3.png"); }
.layer-stairs-4 { background-image: url("stairs-4.png"); }
.layer-stairs-5 { background-image: url("stairs-5.png"); }
.layer-stairs-6 { background-image: url("stairs-6.png"); }
.layer-stairs-7 { background-image: url("stairs-7.png"); }
.layer-stairs-8 { background-image: url("stairs-8.png"); }
.layer-confetti-1 { background-image: url("confetti-1.png"); }
.layer-confetti-2 { background-image: url("confetti-2.png"); }
.layer-confetti-3 { background-image: url("confetti-3.png"); }
.layer-confetti-4 { background-image: url("confetti-4.png"); }
.layer-confetti-5 { background-image: url("confetti-5.png"); }
.layer-confetti-6 { background-image: url("confetti-6.png"); }
